[Unit]
Description=Run on boot

[Timer]
OnBootSec=10
Unit=rpm-ostreed-deployed.service

[Install]
# To have it run only at boot
WantedBy=multi-user.target
