[Unit]
Description=Run on boot

[Timer]
OnBootSec=10
Unit=rpm-ostree-check.service

[Install]
# To have it run only at boot once
WantedBy=multi-user.target
